<%= form_with(model: episode, local: true) do |form| %>
  <% if episode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(episode.errors.count, "error") %> prohibited this episode from being saved:</h2>

      <ul>
      <% episode.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if episode.persisted? %>
      <div class="float-right">
        <%= link_to 'Destroy', episode, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if episode.persisted? %>
      <%= link_to "Cancel", episode, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", episodes_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
