


<div class="row">
  <div class="col-sm-6">
    <h1>Episodes</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_episode_path, class: 'btn btn-primary' do %>
    Add New Episode
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>name</th>
        <th>slug</th>
        <th>options</th>
      </tr>
    </thead>

    <tbody>
      <% @episodes.each do |episode| %>
        <%= content_tag :tr do %>
          <td><%= episode.name%></td>
          <td><%= episode.slug%></td>
          <td><%= link_to 'Show', episode %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
